
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winner User</title>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <style>
        body {
            background-color: white;
        }

        .container {
            margin: 150px auto;
            max-width: 700px;
            text-align: center
        }

        h1 {
            margin-bottom: 30px;
            color: #fff;
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            font-size: 30px;
            margin-top: 2px;
            margin-bottom: 2px;
        }

        span {
            color: white;
            text-align: center;
            font-size: 30px;
            margin-top: 2px;
            margin-bottom: 2px;
            font-weight: bold;
        }
    </style>
    <link href="~/Scripts/ChallangeScript/jquery.incremental-counter.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div style="display:none;" id="jquery-script-menu">
        <div class="jquery-script-center">
            <p>Challenge will start </p>
            <p id="demo"></p><br /><br />
        </div>
    </div>
    <div id="divcounter" display="none" class="container">
        <div class="incremental-counter" data-value=""></div>
    </div>
    <div id="UserInfo" class="container">
        <h1 style="display:none;" id="WinnerHeading">Winner of Challenge</h1>
        <span id="UserName"> </span><br /><br />
        <span id="UserPhone"> </span>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/ChallangeScript/jquery.incremental-counter.js"></script>
    @*<script>
            $(".incremental-counter").incrementalCounter();
        </script>*@
</body>
</html>
<script>
    $(document).ready(function () {
          $("#divcounter").css("display", "none");
        $("#jquery-script-menu").css("display", "none");

        //*** Get Url Perameter ***//
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
         //*** Get Url Perameter ***//

        sessionStorage.setItem("ChallangeId", getUrlParameter('challangeId'));

        //*** Get Challenge Time ***//
        $.ajax({
                type: "Post",
                url: "/api/Challange/GetChallengeTime",
                data: "{'ChallangeId':'" + sessionStorage.getItem("ChallangeId") + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
            success: function (r) {

                var IsStatus = JSON.stringify(r.Data["IsStatus"]).replace(/['"]+/g, '');
                if (IsStatus == 'true') {
                    var Phone = JSON.stringify(r.Data["Phone"]).replace(/['"]+/g, '');
                    var Name = JSON.stringify(r.Data["Name"]).replace(/['"]+/g, '');
                    $("#divcounter").css("display", "none");
                    $("body").css("background-image", "url('/Images/Challenge/[media.giphy.com][840]B5aTato.gif')");
                    $("#WinnerHeading").css("display", "block");
                    $("#UserName").text(Name);
                    $("#UserPhone").text(Phone);
                }
                else if(IsStatus == 'false') {
                    var ChallangeStartTime = JSON.stringify(r.Data["ChallangeStartDateTime"]).replace(/['"]+/g, '');
                    TimeCount(ChallangeStartTime);
                }
            }
        });
        //*** Get Challenge Time ***//

         //*** Set Temporary Winner ***//
        function SetTemporaryWinner() {
            $.ajax({
                type: "Post",
                url: "/api/Challange/SetTemporaryWinner",
                data: "{'ChallangeId':'" + sessionStorage.getItem("ChallangeId") + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (r) {
                    var Phone = JSON.stringify(r.Data["Phone"]).replace(/['"]+/g, '');
                    $("body").css("background-color", "#384047");
                    $(".incremental-counter").attr("data-value", Phone);
                    $(".incremental-counter").incrementalCounter();
                    SetWinnerUser(15000);
                    //var Phone = JSON.stringify(r.Data["Phone"]).replace(/['"]+/g, '');
                    //var IsStatus = JSON.stringify(r.Data["IsStatus"]).replace(/['"]+/g, '');
                    //var Name = JSON.stringify(r.Data["Name"]).replace(/['"]+/g, '');
                    //if (IsStatus == 'false') {
                    //    $("body").css("background-image", "url('/Images/Challenge/[media.giphy.com][840]B5aTato.gif')");
                    //    $("#WinnerHeading").css("display", "block");
                    //    $("#UserName").text(Name);
                    //    $("#UserPhone").text(Phone);
                    //}
                    //else {
                    ////    $("body").css("background-color", "#384047");
                    ////    $(".incremental-counter").attr("data-value", Phone);
                    ////    $(".incremental-counter").incrementalCounter();
                    ////    CallAgain(15000);
                    //}
                }
            });
        }
        //*** Set Temporary Winner ***//

        //*** Set Winner User ***//
        function SetWinnerUser(MiliSecond) {
            setTimeout(function () {
                $.ajax({
                    type: "Post",
                    url: "/api/Challange/SetWinnerUser",
                    data: "{'ChallangeId':'" + sessionStorage.getItem("ChallangeId") + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (r) {
                        var Phone = JSON.stringify(r.Data["Phone"]).replace(/['"]+/g, '');

                        var Name = JSON.stringify(r.Data["Name"]).replace(/['"]+/g, '');
                        $("#divcounter").css("display", "none");
                        $("body").css("background-image", "url('/Images/Challenge/[media.giphy.com][840]B5aTato.gif')");
                        $("#WinnerHeading").css("display", "block");
                        $("#UserName").text(Name);
                        $("#UserPhone").text(Phone);
                    }
                });
            }, MiliSecond);
        }
        //*** Set Winner User ***//

        //*** Time Count Function ***//
        function TimeCount(DateTime) {
            //var countDownDate = new Date("May 4, 2020 17:37:25").getTime();
            var countDownDate = new Date(DateTime).getTime();

            // Update the count down every 1 second
            var x = setInterval(function () {

                // Get today's date and time
                var now = new Date().getTime();

                // Find the distance between now and the count down date
                var distance = countDownDate - now;

                // Time calculations for days, hours, minutes and seconds
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                // Output the result in an element with id="demo"
                document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";
                // If the count down is over, write some text
                if (distance > 0) {
                    $("#jquery-script-menu").css("display", "block");
                }
                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = 00 + "m " + 00 + "s ";
                    $("#divcounter").css("display", "block");
                    $("#jquery-script-menu").css("display", "none");
                    //$("body").css("background-image", "url('https://media.giphy.com/media/nbJUuYFI6s0w0/source.gif')");

                    SetTemporaryWinner();
                }
            }, 1000);
        }
        //*** Time Count Function ***//
    })

</script>



