@if (TempData["success"] != null)
{

    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">×</a>
        @TempData["success"].ToString()
    </div>

}
else if (TempData["error"] != null)
{

    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">×</a>
        @TempData["error"].ToString()
    </div>

}

@*<script src="/vendor/bootstrap-datetimepicker/js/moment-with-locales.js"></script>

    <script src="/vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />

    <script type="text/javascript">
            $(function () {
                $('.datepicker-input').datepicker({
                    autoclose: true
                });

                $('.datetime-picker').datetimepicker({
                    format: 'LT'
                });
                changeDateFormat();
            });
    </script>


*@