@{
    ViewBag.Title = "Home Page";
}
<header class="ribbon">
    <h2>
        Dashboard
    </h2>
</header>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a href="/Home/Quiz" style="text-decoration:none;">
                                <div class="media-left no-padding">
                                    <div class="rounded-icon rounded-icon-primary rounded-icon-lg media-raised">
                                        <i class="mdi mdi-account-multiple-outline pad-top"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="align-right" style="padding-top:0.3em;">
                                        <h6>&nbsp;</h6>
                                        <h2>
                                            Quiz
                                        </h2>
                                    </div>
                                </div>
                            </a>
                            <!-- /.media-body -->
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a href="/Home/Quiz" style="text-decoration:none;">
                                <div class="media-left no-padding">
                                    <div class="rounded-icon rounded-icon-primary rounded-icon-lg media-raised">
                                        <i class="mdi mdi-account-multiple-outline pad-top"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="align-right" style="padding-top:0.3em;">
                                        <h6>&nbsp;</h6>
                                        <h2>
                                            Quiz
                                        </h2>
                                    </div>
                                </div>
                            </a>
                            <!-- /.media-body -->
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a href="/Home/Quiz" style="text-decoration:none;">
                                <div class="media-left no-padding">
                                    <div class="rounded-icon rounded-icon-primary rounded-icon-lg media-raised">
                                        <i class="mdi mdi-account-multiple-outline pad-top"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="align-right" style="padding-top:0.3em;">
                                        <h6>&nbsp;</h6>
                                        <h2>
                                            Quiz
                                        </h2>
                                    </div>
                                </div>
                            </a>
                            <!-- /.media-body -->
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-3">
                <div class="panel">
                    <div class="panel-body">
                        <div class="media">
                            <a href="/Home/Quiz" style="text-decoration:none;">
                                <div class="media-left no-padding">
                                    <div class="rounded-icon rounded-icon-primary rounded-icon-lg media-raised">
                                        <i class="mdi mdi-account-multiple-outline pad-top"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="align-right" style="padding-top:0.3em;">
                                        <h6>&nbsp;</h6>
                                        <h2>
                                            Quiz
                                        </h2>
                                    </div>
                                </div>
                            </a>
                            <!-- /.media-body -->
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
</div>