@model IEnumerable<QuizAdmin.Models.SupportModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Support</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Query
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                    <td>@item.UserName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.UserQuery</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
